# Puerto de la API
PORT=3000
BCRYPT_SALT_ROUNDS=10

# HOST=127.0.0.1
HOST=0.0.0.0
NODE_ENV=development

# BD GLOBAL
DB_HOST=localhost
DB_PORT=5432
DB_USER=user_bd
DB_PASSWORD=user_bd_password
DB_DATABASE=bd_global

# BD TENANT
TENANT_DB_HOST=localhost
TENANT_DB_PORT=5432
TENANT_DB_USER=user_bd_tenant
TENANT_DB_PASSWORD=user_tenant_password
TENANT_DB_DATABASE=bd_tenant

# REDIS
REDIS_HOST=0.0.0.0
REDIS_PORT=6379
REDIS_PASSWORD=redis_psswod_service
SESSION_TTL=14400 # 4 horas

# AWS
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key